/*CSS du header*/
@mixin header {
    background-color: white;
    padding: 10px 0px;
    text-align: center;
    font-family: $fontTitle;
    font-size: 1.7em;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 55%);
}

/*CSS du footer*/
@mixin footer {

    padding: 20px 0px 25px 15px;
    background-color: #353535;
    color: #eaeaea;
    h2 {
        font-family: $fontTitle;
        font-size: 1.1em;
        padding-bottom: 20px;
    }

    ul {
        list-style-type: none;
    }

    li {
        margin-bottom: 5px;
        font-weight: 400; 
    }

    .fa-utensils {
        margin-right: 14px;
    }

    .fa-handshake-angle {
        margin-right: 8px;
    }
}
