/*CSS du header*/
@mixin header {
    background-color: white;
    padding: 10px 0px;
    text-align: center;
    font-family: $fontTitle;
    font-size: 1.7em;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 55%);
}
