@charset "UTF-8";
/*CSS du header*/
/*CSS du footer*/
/*CSS des boutons avec dégradé rose*/
/*le padding du bouton est une variable avec argument, par défaut 10px sur Y et 20px sur X, et 20px de border-radius par défaut*/
/*CSS du container des menus*/
@-webkit-keyframes toLeft {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes toLeft {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: #eaeaea;
}

/* Le CSS du header est dans _mixins.scs, on l'inclut en premier : */
header {
  background-color: white;
  padding: 10px 0px;
  text-align: center;
  font-family: "Shrikhand";
  font-size: 1.7em;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.55);
  position: relative;
}
header a {
  color: black;
}
header i {
  position: absolute;
  /*Pour centrer la flèche sur le header*/
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
header i:hover {
  font-size: 1.2em;
  transition: 0.3s;
}

/*L'image d'illustration au top de la page*/
.illustration {
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: -1;
}
.illustration img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 100%;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0px 0px;
  margin-top: 250px;
}
.container .presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .presentation__title {
  font-family: "Shrikhand";
  font-size: 30px;
  padding-top: 30px;
}
.container .presentation__icon {
  font-size: 1.5em;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin-right: 12px;
  margin-top: 15px;
}
.container .presentation__icon__liked {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(350deg, #9356DC 25%, #FF79DA 65%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.container .presentation__icon__liked:hover {
  opacity: 1;
  transition: opacity 0.3s;
}
.container .menu-cards {
  margin-top: 20px;
}
.container .menu-cards .menu {
  width: 100%;
  margin: 0px 0px 25px 0px;
}
.container .menu-cards .menu__title {
  font-size: 1.2em;
  font-weight: 200;
  position: relative;
  text-transform: uppercase;
  padding: 20px 0px 0px 10px;
}
.container .menu-cards .menu__title::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 40px;
  height: 4px;
  background-color: #99E2D0;
}
.container .menu-cards .container-cards .cards {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0px 10px 18px -5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-bottom: 15px;
}
.container .menu-cards .container-cards .cards__delay1 {
  -webkit-animation: toLeft cubic-bezier(0.17, 0.67, 0.67, 1.16) 0.8s;
          animation: toLeft cubic-bezier(0.17, 0.67, 0.67, 1.16) 0.8s;
}
.container .menu-cards .container-cards .cards__delay2 {
  -webkit-animation: toLeft cubic-bezier(0.17, 0.67, 0.67, 1.16) 0.8s 0.2s both;
          animation: toLeft cubic-bezier(0.17, 0.67, 0.67, 1.16) 0.8s 0.2s both;
}
.container .menu-cards .container-cards .cards__delay3 {
  -webkit-animation: toLeft cubic-bezier(0.17, 0.67, 0.67, 1.16) 0.8s 0.3s both;
          animation: toLeft cubic-bezier(0.17, 0.67, 0.67, 1.16) 0.8s 0.3s both;
}
.container .menu-cards .container-cards .cards__delay4 {
  -webkit-animation: toLeft cubic-bezier(0.17, 0.67, 0.67, 1.16) 0.8s 0.4s both;
          animation: toLeft cubic-bezier(0.17, 0.67, 0.67, 1.16) 0.8s 0.4s both;
}
.container .menu-cards .container-cards .cards__delay5 {
  -webkit-animation: toLeft cubic-bezier(0.17, 0.67, 0.67, 1.16) 0.8s 0.5s both;
          animation: toLeft cubic-bezier(0.17, 0.67, 0.67, 1.16) 0.8s 0.5s both;
}
.container .menu-cards .container-cards .cards__delay6 {
  -webkit-animation: toLeft cubic-bezier(0.17, 0.67, 0.67, 1.16) 0.8s 0.6s both;
          animation: toLeft cubic-bezier(0.17, 0.67, 0.67, 1.16) 0.8s 0.6s both;
}
.container .menu-cards .container-cards .cards__delay7 {
  -webkit-animation: toLeft cubic-bezier(0.17, 0.67, 0.67, 1.16) 0.8s 0.7s both;
          animation: toLeft cubic-bezier(0.17, 0.67, 0.67, 1.16) 0.8s 0.7s both;
}
.container .menu-cards .container-cards .cards__delay8 {
  -webkit-animation: toLeft cubic-bezier(0.17, 0.67, 0.67, 1.16) 0.8s 0.8s both;
          animation: toLeft cubic-bezier(0.17, 0.67, 0.67, 1.16) 0.8s 0.8s both;
}
.container .menu-cards .container-cards .cards__delay9 {
  -webkit-animation: toLeft cubic-bezier(0.17, 0.67, 0.67, 1.16) 0.8s 0.9s both;
          animation: toLeft cubic-bezier(0.17, 0.67, 0.67, 1.16) 0.8s 0.9s both;
}
.container .menu-cards .container-cards .cards__delay10 {
  -webkit-animation: toLeft cubic-bezier(0.17, 0.67, 0.67, 1.16) 0.8s 1s both;
          animation: toLeft cubic-bezier(0.17, 0.67, 0.67, 1.16) 0.8s 1s both;
}
.container .menu-cards .container-cards .cards:hover .cards__price-select {
  margin-right: 0px;
}
.container .menu-cards .container-cards .cards:hover .cards__select i {
  transform: rotate(-360deg);
}
.container .menu-cards .container-cards .cards__desc {
  padding: 18px;
  max-width: 272px;
  min-width: 0px;
}
.container .menu-cards .container-cards .cards__desc > h3 {
  font-size: 1em;
  padding-bottom: 5px;
}
.container .menu-cards .container-cards .cards__desc > p {
  font-size: 0.8em;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.container .menu-cards .container-cards .cards__price-select {
  display: flex;
  margin-right: -70px;
  transition: margin-right 0.5s;
}
.container .menu-cards .container-cards .cards__price {
  display: flex;
  align-items: flex-end;
  padding: 0px 15px 17px 0px;
}
.container .menu-cards .container-cards .cards__select {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 70px;
  padding: 18px;
  background-color: #99E2D0;
}
.container .menu-cards .container-cards .cards__select i {
  transition: transform 0.6s;
  font-size: 1.5em;
}
.container .container-btn {
  display: flex;
  justify-content: center;
  padding: 30px 0px 80px 0px;
}
.container .container-btn .btn {
  display: inline-block;
  padding: 15px 50px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  font-size: 1em;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: transform 0.3s;
}
.container .container-btn .btn:hover {
  transform: scale(1.1);
}

footer {
  padding: 20px 0px 25px 15px;
  background-color: #353535;
  color: #eaeaea;
}
footer h2 {
  font-family: "Shrikhand";
  font-size: 1.1em;
  padding-bottom: 20px;
}
footer ul {
  list-style-type: none;
}
footer li {
  margin-bottom: 5px;
  font-weight: 400;
}
footer .fa-utensils {
  margin-right: 14px;
}
footer .fa-handshake-angle {
  margin-right: 8px;
}
footer a {
  text-decoration: none;
  color: #eaeaea;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 920px) {
  .container-menu-cards {
    display: flex;
    justify-content: space-between;
  }
  .container-menu-cards .menu-cards {
    width: 32%;
  }
}/*# sourceMappingURL=AlaFrancaise.css.map */