$fontTitle : "Shrikhand";
@import 'mixins';


* { 
    padding: 0; margin:0; 
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    background-color: #eaeaea;
}

/* Le CSS du header est dans _mixins.scs, on l'inclut en premier : */
header {
    @include header();
    position: relative;

    a {
        color: black;
    }

    i {
        position: absolute;
        /*Pour centrer la flèche sur le header*/
        top: 50%; left: 30px;
        transform: translate(-50%, -50%);
        transition: 0.3s;

        &:hover {
            font-size: 1.2em;
            transition: 0.3s;
        }
    }

}

/*L'image d'illustration au top de la page*/
.illustration {
    width: 100%;
    height: 300px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
