@charset "UTF-8";
/*CSS du header*/
/*CSS du footer*/
/*CSS des boutons avec dégradé rose*/
/*le padding du bouton est une variable avec argument, par défaut 10px sur Y et 20px sur X, et 20px de border-radius par défaut*/
/*CSS du container des menus*/
@-webkit-keyframes toLeft {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes toLeft {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: #eaeaea;
  counter-reset: Compte;
}

/* DESIGN ET ANIMATION POUR L'HAMBURGER */
.loader {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*L'animation closeLoader qui durera 1seconde viendra après 3.5s. Forwards = restera à l'état de la fin de l'animation*/
  -webkit-animation: closeLoader 1s 3.5s forwards;
          animation: closeLoader 1s 3.5s forwards;
}
.loader .hamburger__pain-haut {
  /*Animation hamburger en cubic bezier qui durera 0.2s et arrivera après 2s. L'était commencera comme l'animation et restera comme la fin*/
  /*Deuxième animation pour faire partir la div à droite (ou gauche quand c'est hamburgerLeft), elle dure 1s et s'active après 3s. L'était reste comme la fin de l'animation.*/
  -webkit-animation: hamburger cubic-bezier(0.51, 1.13, 0.86, 1.02) 0.2s 2s both, hamburgerRight 1s 3s forwards;
          animation: hamburger cubic-bezier(0.51, 1.13, 0.86, 1.02) 0.2s 2s both, hamburgerRight 1s 3s forwards;
  width: 90px;
  height: 30px;
  background-color: #e09e1f;
  border-radius: 90px 90px 0px 0px;
  margin: 2px 0px 2px 0px;
  position: relative;
}
.loader .hamburger__pain-haut__grains1 {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: white;
}
.loader .hamburger__pain-haut__grains1::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 23px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: white;
}
.loader .hamburger__pain-haut__grains1::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 20px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: white;
}
.loader .hamburger__pain-haut__grains2 {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: white;
}
.loader .hamburger__pain-haut__grains2::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -48px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: white;
}
.loader .hamburger__pain-haut__grains2::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -20px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: white;
}
.loader .hamburger__salade {
  -webkit-animation: hamburger cubic-bezier(0.51, 1.13, 0.86, 1.02) 0.3s 1.5s both, hamburgerLeft 1s 3s forwards;
          animation: hamburger cubic-bezier(0.51, 1.13, 0.86, 1.02) 0.3s 1.5s both, hamburgerLeft 1s 3s forwards;
  width: 90px;
  height: 10px;
  background-color: #40aa42;
  margin: 2px 0px 2px 0px;
  border-radius: 3px;
}
.loader .hamburger__steack {
  -webkit-animation: hamburger cubic-bezier(0.51, 1.13, 0.86, 1.02) 0.4s 1s both, hamburgerRight 1s 3s forwards;
          animation: hamburger cubic-bezier(0.51, 1.13, 0.86, 1.02) 0.4s 1s both, hamburgerRight 1s 3s forwards;
  width: 90px;
  height: 15px;
  background-color: #681c00;
  margin: 2px 0px 2px 0px;
  border-radius: 3px;
}
.loader .hamburger__fromage {
  -webkit-animation: hamburger cubic-bezier(0.51, 1.13, 0.86, 1.02) 0.5s 0.5s both, hamburgerLeft 1s 3s forwards;
          animation: hamburger cubic-bezier(0.51, 1.13, 0.86, 1.02) 0.5s 0.5s both, hamburgerLeft 1s 3s forwards;
  width: 90px;
  height: 10px;
  background-color: #fad400;
  margin: 2px 0px 2px 0px;
  border-radius: 3px;
}
.loader .hamburger__pain-bas {
  /*Cubic-bezier pour donner l'impression que le pain se "pose"*/
  -webkit-animation: hamburger cubic-bezier(0.63, 1.13, 0.9, 1.15) 0.6s 0s both, hamburgerRight 1s 3s forwards;
          animation: hamburger cubic-bezier(0.63, 1.13, 0.9, 1.15) 0.6s 0s both, hamburgerRight 1s 3s forwards;
  width: 90px;
  height: 20px;
  background-color: #e09e1f;
  border-radius: 1px 1px 10px 10px;
  margin: 2px 0px 2px 0px;
}

@-webkit-keyframes hamburger {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes hamburger {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes hamburgerRight {
  0% {
    transform: translateX(0px);
  }
  15% {
    transform: translateX(-75px);
  }
  35% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(1000px);
  }
}
@keyframes hamburgerRight {
  0% {
    transform: translateX(0px);
  }
  15% {
    transform: translateX(-75px);
  }
  35% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(1000px);
  }
}
@-webkit-keyframes hamburgerLeft {
  0% {
    transform: translateX(0px);
  }
  15% {
    transform: translateX(75px);
  }
  35% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(-1000px);
  }
}
@keyframes hamburgerLeft {
  0% {
    transform: translateX(0px);
  }
  15% {
    transform: translateX(75px);
  }
  35% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(-1000px);
  }
}
@-webkit-keyframes closeLoader {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}
@keyframes closeLoader {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}
/* FIN DESIGN ET ANIMATION POUR L'HAMBURGER */
header {
  background-color: white;
  padding: 10px 0px;
  text-align: center;
  font-family: "Shrikhand";
  font-size: 1.7em;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.55);
  position: relative;
}
header a {
  color: black;
}
header i {
  position: absolute;
  /*Pour centrer la flèche sur le header*/
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
header i:hover {
  font-size: 1.2em;
  transition: 0.3s;
}

/*Section position avec l'icone*/
.position {
  text-align: center;
  padding: 18px;
}
.position i {
  padding-right: 10px;
}

/*Section présentation, description et bouton*/
.presentation {
  background-color: #f6f6f6;
  text-align: center;
  padding: 60px 0px 60px 0px;
}
.presentation__desc {
  color: #4d4d4d;
  font-weight: 400;
  padding-top: 12px;
  margin-bottom: 30px;
}
.presentation__btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  font-size: 1em;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}

/*Section fonctionnement avec les listes tutoriels*/
.fonc {
  background-color: white;
  /*Incrémentation du chiffre à chaque liste (1,2,3)*/
}
.fonc__title {
  width: 95%;
  margin: auto;
  font-size: 1.8em;
  padding: 60px 0px 40px 0px;
}
.fonc__list {
  width: 95%;
  margin: auto;
  list-style-type: none;
  padding-bottom: 50px;
}
.fonc li {
  counter-increment: Compte;
}
.fonc__tuto {
  padding: 25px;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin-bottom: 20px;
  font-weight: 500;
  box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.23);
  margin-left: 15px;
  position: relative;
  /*le content prend en valeur le numéro de la liste incrémentée*/
}
.fonc__tuto i {
  padding: 0px 30px 0px 30px;
  color: #888888;
  font-size: 1.2em;
}
.fonc__tuto::before {
  content: counter(Compte);
  width: 20px;
  height: 20px;
  color: white;
  background-color: #9356dc;
  position: absolute;
  text-align: center;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

/*Partie section Restaurant*/
.restaurant {
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.restaurant h2 {
  font-size: 1.8em;
  padding: 60px 0px 40px 0px;
  width: 95%;
  margin: auto;
}

.card {
  width: 95%;
  margin: auto;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 25px;
  box-shadow: 0px 10px 18px -5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  position: relative;
  /*Position relative pour pouvoir placer le like dégradé sur lui en absolute*/
  /*Like dégradé en absolu sur la même position, opacité qui passe de 0 à 1 seulement au hover*/
}
.card--news::after {
  content: "Nouveau";
  position: absolute;
  top: 15px;
  right: 15px;
  font-weight: 500;
  border-radius: 3px;
  padding: 7px 12px;
  background-color: #99E2D0;
  color: #106550;
}
.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}
.card a {
  text-decoration: none;
  color: black;
}
.card__img {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__footer {
  font-size: 1em;
  width: 95%;
  padding: 20px 0px 20px 0px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.card__footer p {
  padding-top: 5px;
  color: #4d4d4d;
  font-weight: lighter;
}
.card__like {
  font-size: 1.5em;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.card__liked {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(350deg, #9356DC 25%, #FF79DA 65%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.card__liked:hover {
  opacity: 1;
  transition: 0.5s;
}

footer {
  padding: 20px 0px 25px 15px;
  background-color: #353535;
  color: #eaeaea;
}
footer h2 {
  font-family: "Shrikhand";
  font-size: 1.1em;
  padding-bottom: 20px;
}
footer ul {
  list-style-type: none;
}
footer li {
  margin-bottom: 5px;
  font-weight: 400;
}
footer .fa-utensils {
  margin-right: 14px;
}
footer .fa-handshake-angle {
  margin-right: 8px;
}
footer a {
  text-decoration: none;
  color: #eaeaea;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 920px) {
  .fonc__tuto {
    width: 30%;
  }
  .fonc__tuto i {
    padding: 0px 7px 0px 0px;
  }
  .fonc__list {
    display: flex;
    justify-content: space-between;
  }
  .container-articles {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
  }
  .container-articles .card {
    width: 47%;
  }
}/*# sourceMappingURL=style.css.map */